.screen-share > div > .agora_video_player {
    object-fit: contain !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
}

.user-video > div {
    height: 200px !important;
}